

table {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12px;
}

table td {
    vertical-align: top;
}

table th {
    text-align: left;
}

.stars0 {
    color: red;
}
.stars1 {
    color: orange;
}
.stars2 {
    color: lightgreen;
}
.stars3 {
    color: green;
}