

table {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12px;
}

table td {
    vertical-align: top;
}

table th {
    text-align: left;
}

.stars0 {
    color: red;
}
.stars1 {
    color: orange;
}
.stars2 {
    color: lightgreen;
}
.stars3 {
    color: green;
}

.netstars {
    text-align: right;
}
.netstars-3 {
    color: red;
}
.netstars-2 {
    color: red;
}
.netstars-1 {
    color: red;
}
.netstars0 {
    color: gray;
}
.netstars1 {
    color: green;
}
.netstars2 {
    color: green;
}
.netstars3 {
    color: green;
}
.netstars4 {
    color: green;
}
.netstars5 {
    color: green;
}
.netstars6 {
    color: green;
}
