@font-face {
	font-family: clash;
	src: url('../fonts/cc.eot'); /* IE9 Compat Modes */
	src: url('../fonts/cc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/cc.woff') format('woff'), /* Modern Browsers */
	url('../fonts/cc.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/cc.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {	
	font-family: cartoonist;
	src: url('../fonts/cartoonist.eot'); /* IE9 Compat Modes */
	src: url('../fonts/cartoonist.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/cartoonist.woff') format('woff'), /* Modern Browsers */
	url('../fonts/cartoonist.ttf') format('truetype'),
	url('../fonts/cartoonist.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#top { 
    width:100%; 
    height: 60px; 
    float: top; 
    background-color: #5eb5e0;
    padding: 8px;
}

.title { 
    float: none;
    font-size: 36px;
    font-family: clash;
}

.account { 
    float: right;
    font-size: 10px;
}

#menu { 
    width: 120px; 
    height:80%; 
    float: left; 
    background-color: #D3D3D3;
}

#content { 
    float: left; 
    background-color: #f9ecec;
}
