

table {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12px;
}

th {
    font-family: clash;
    font-size: 14px;
    font-weight: normal;
}
.attacker {
    font-family: clash;
    font-size: 10px;
}
.attack {
    font-size: 10px;
}

.attack a {
    text-decoration: none;
}

.attack a:hover {
    font-weight: bold;
}
