/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2015, 11:17:33 AM
    Author     : rob
*/

.detail {
    font-size: 80%;
}

.nr {
    text-align: right;    
}

.atop {
    vertical-align: top;
}