{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block body %}

    <h1>{{ player.id }}. {{ player.name }}
    </h1>
    <table>
        <tr>
        </tr>

        <tr>
            <td></td>
            <td></td>
        </tr>

    </table>


{% endblock %}