
{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block body %}
    <p>Welcome to the Clash of Clans ClanManager.</p>
    <p>This manager helps clanmembers in its daily tasks to manage wars.</p>

      
        <span class="test">
             <br>
            &nbsp; T H E  Q U I C K  B R O W N  F O X  J U M P S  O V E R  T H E  L A Z Y  D O G &nbsp; <br>
            &nbsp; t h e  q u i c k  b r o w n  f o x  j u m p s  o v e r  t h e  l a z y  d o g &nbsp; <br>
            &nbsp; 0 1 2 3 4 5 6 7 8 9 &nbsp; <br>
            &nbsp; ` ~ ! @ # $ % ^ & * ( ) - = _ + , . < > / ? ; ' : " [ ] { } &nbsp; <br>
             <br>
        </span>
    

{% endblock %}

