
{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block body %}
    <p>Welcome to the Clash of Clans ClanManager.</p>
    <p>This manager helps clanmembers in its daily tasks to manage wars.</p>
{% endblock %}

